@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
html {
  --logo-blue: #57a4ff;
  --logo-pink: #f072ae;
  --logo-yellow: #ffda44;

  --white: #fff;
  --black: #000;

  --bg-color: #f6f6f6;
  --text-primary: #616161;

  --bg-dark: #303030;
  --bg-dark-text: #7f7f7f;

  --danger: #c52929;
  --success: #3d603f;
  --warning: #764f17;
  --info: #326a83;
  --secondary: #6c6c6c;
  --primary: #5243c2;

  --primary-li: #ddeffd;
  --secondary-li: #ebebeb;
  --danger-li: #fff5f5;
  --success-li: #edf7ed;
  --warning-li: #fff4e5;
  --info-li: #e5f6fd;

  --cta: #303030;
  font-family: roboto, sans-serif;

  scroll-behavior: smooth;
}

:root {
  font-size: 62.5%;
}
* {
  margin: 0;
}

.flex {
  display: flex;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.comp_wrapper {
  margin: 0 4rem;
}
.comp_head-text {
  text-transform: capitalize;
  padding: 2rem 0;
}
.wrapper_comp_box {
  color: var(--black);
  padding: 1.6rem;
  margin: 2rem 0;
  border: 1px solid transparent;
  word-wrap: break-word;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  background-color: var(--bg-color);
}
.comp_desc {
  color: var(--text-primary);
  padding: 1rem;
  font-size: 1.6rem;
}
/* .comp_desc_text {
  margin: 1rem;
} */
.comp_desc_highlight {
  background-color: var(--primary-li);
  border-radius: 4px;
  padding: 2px 4px;
  margin: 2px;
  color: var(--black);
}

.wrapper_av {
  align-items: flex-end;
  flex-flow: row wrap;
  gap: 5rem;
}
.wrapper_card {
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  gap: 5rem;
}
.footer_cwb {
  justify-content: flex-end;
}
.btn_wrapper_cwd {
  justify-content: flex-end;
}
.wrapper_pricing_card {
  font-family: lato, sans-serif;
  flex-flow: row wrap;
  margin: 2rem 0;
}
.wrapper_pricing_card {
  justify-content: space-evenly;
  gap: 3rem;
}

.comp_img_wrapper {
  justify-content: space-evenly;
  align-items: baseline;
  gap: 3rem;
}
.wrapper_input {
  flex-flow: row wrap;
  gap: 1rem;
}
.inp_p {
  color: var(--bg-dark-text);
  text-transform: capitalize;
}
h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  line-height: 1.2;
  font-weight: 500;
}
.h1,
h1 {
  font-size: 4rem;
}
.h2,
h2 {
  font-size: 2.4rem;
}
.h3,
h3 {
  font-size: 2rem;
}
.h4,
h4 {
  font-size: 1.8rem;
}
.h5,
h5 {
  font-size: 1.6rem;
}
.p,
p {
  font-size: 1.4rem;
}
.p-lg {
  font-size: 1.6rem;
}
.p-sm {
  font-size: 1.2rem;
}
.text_line_th {
  text-decoration: line-through;
}
.text_uc {
  text-transform: uppercase;
}
.text_cl {
  text-transform: capitalize;
}
.comp_snippet {
  margin: 4rem 0;
  overflow: auto;
  border-radius: 12px;
  background-color: #011627;
  text-align: center;
  width: 100% !important;
  font-size: 1.6rem !important;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: inherit !important;
}
.token.tag {
  color: #569cd6 !important;
}
.toolbar > .toolbar > .toolbar-item > button:hover,
div.code-toolbar > .toolbar > .toolbar-item > span:focus,
div.code-toolbar > .toolbar > .toolbar-item > span:hover {
  color: var(--white) !important;
  text-decoration: none;
  cursor: pointer !important;
}
/* .toolbar {
  position: sticky !important;
} */
.copy-to-clipboard-button,
.toolbar,
.toolbar-item {
  background: 0 0;
  border: 0;
  font: inherit;
  font-size: 1.6rem !important;
  color: var(--bg-color);
  cursor: pointer;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
/* @media screen and (max-width: 768px) {


} */
