@import url("./pixel-design.css");
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
@import "./core.css";

.container {
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 28rem 1fr;
  grid-template-rows: 8rem 1fr;
  grid-template-areas:
    "nav nav"
    "aside main";
  gap: 2rem;
  background-color: var(--bg-color);
  color: var(--text-primary);
}

nav {
  background-color: var(--white);
  grid-area: nav;
  top: 0;
  position: sticky;
  z-index: 999;
  will-change: transform;
  transition: transform 800ms cubic-bezier(0.5, 0.41, 0.29, 0.9);
}
aside {
  background-color: var(--white);
  grid-area: aside;
  position: sticky;
  align-self: start;
  transition: top 800ms cubic-bezier(0.5, 0.41, 0.29, 0.9);
}
main {
  background-color: var(--white);
  grid-area: main;
}
.wrapper_nav {
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
  background-color: var(--cta);
  color: var(--bg-color);
}
.nav_menu {
  transition: all 0.2s ease-in-out;
  opacity: 0.8;
}
.nav_icon {
  font-size: 2.4rem;
}
.twitter:hover {
  color: #5865f2;
  opacity: 1;
}
.github:hover {
  color: var(--white);
  opacity: 1;
}
.theme:hover {
  color: #ffff00;
  opacity: 1;
}

.nav_brand_text {
  text-transform: uppercase;
  cursor: pointer;
  font-family: "Shadows Into Light", cursive;
  font-weight: 600;
}
.nav_brand_text:hover {
  color: var(--white);
}
.nav_menu > li {
  list-style: none;
  padding: 2rem;
  text-transform: capitalize;
  border-bottom: 1px solid transparent;
  cursor: pointer;
}

.wrapper_aside {
  font-size: 1.4rem;
  list-style-type: none;
  flex-direction: column;
  margin: 1rem;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
.wrapper_aside li {
  padding: 1.6rem;
  cursor: pointer;
  padding-left: 4rem;
  text-align: left;
  flex-grow: 1;
  text-transform: capitalize;
}
.component:hover {
  color: var(--black);
  background-color: var(--bg-color);
  font-weight: 500;
  transition: all 800ms cubic-bezier(0.25, 0.8, 0.25, 1);
}
.comp_active {
  color: var(--black);
  font-weight: 500;
  transition: all 800ms cubic-bezier(0.25, 0.8, 0.25, 1);
}
.aside_head {
  text-transform: capitalize;
  font-weight: 500;
  padding: 0;
  margin: 0;
  margin-bottom: -1rem;
}
.icons svg {
  width: 24px;
  height: 24px;
}
div > .hamburger {
  display: none;
}
@media screen and (max-width: 720px) {
  .container {
    grid-template-columns: 100vw;
    grid-template-rows: 8.7rem 50rem 1fr;
    grid-template-areas:
      "nav"
      "main";
  }
  aside {
    position: absolute;
    top: 8rem;
    z-index: 99;
    height: auto;
    width: 100vw;
    transform: translateX(-100%);
    transition: transform 200ms ease-in;
  }
  div > .hamburger {
    display: block;
  }
}
@media screen and (max-width: 20rem) {
  .nav_icon {
    font-size: 2rem;
  }
  #navbar {
    display: none;
  }
}
