<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="icon" href="/assets/pixel.png" />
    <link rel="stylesheet" href="../../styles.css" />
    <link rel="stylesheet" href="../../core.css" />
    <link rel="stylesheet" href="../../utils/prism/prism.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pixel / Card</title>
  </head>
  <body>
    <!-- Documentation wrapper  -->
    <div class="container dark_theme">
      <!-- Navbar  -->
      <nav id="navbar" class="wrapper_nav flex">
        <h1>
          <a href="/index.html">
            <span title="pixel-ui" class="h2 nav_brand_text"> PIXEL</span></a
          >
        </h1>

        <div class="wrapper_nav_menu">
          <ul class="nav_menu flex">
            <li class="p">
              <a
                href="https://twitter.com/gauravsinhaweb"
                rel="noopener noreferrer"
                target="_blank"
              >
                <div>
                  <i class="fab fa-twitter nav_icon twitter"></i>
                </div>
              </a>
            </li>
            <li class="p">
              <a
                href="https://github.com/gauravsinhaweb/Pixel-UI"
                rel="noopener noreferrer"
                target="_blank"
              >
                <div>
                  <i class="fab fa-github nav_icon github"></i>
                </div>
              </a>
            </li>
            <li class="p">
              <div>
                <i class="fa fa-moon nav_icon theme"></i>
              </div>
            </li>
            <li id="hamburger" class="p">
              <div>
                <i class="fas fa-bars nav_icon hamburger"></i>
              </div>
            </li>
          </ul>
        </div>
      </nav>

      <!-- Sidebar  -->
      <aside id="aside">
        <ul class="wrapper_aside flex">
          <li class="aside_head">getting started</li>
          <li class="component">installation</li>
          <a href="/utils/typography/typography.html"
            ><li class="component">Text utilities</li></a
          >

          <li class="h5 aside_head">components</li>
          <a href="/components/alert/alert.html"
            ><li class="component">Alert</li></a
          >
          <a href="/components/avatar/avatar.html"
            ><li class="component">Avatar</li></a
          >
          <a href="/components/badge/badge.html"
            ><li class="component">badge</li></a
          >
          <a href="/components/button/button.html"
            ><li class="component">button</li></a
          >
          <a href="/components/card/card.html"
            ><li class="component comp_active">card</li></a
          >
          <a href="/components/image/image.html"
            ><li class="component">image</li></a
          >
          <a href="/components/input/input.html"
            ><li class="component">input</li></a
          >
          <a href="/components/list/list.html"
            ><li class="component">List</li></a
          >
          <a href="/components/modal/modal.html"
            ><li class="component">Modal</li></a
          >
          <a href="/components/navigation/navigation.html"
            ><li class="component">Navigation</li></a
          >
          <a href="/components/rating/rating.html"
            ><li class="component">Rating</li></a
          >
          <a href="/components/snackbar/snackbar.html"
            ><li class="component">Snackbar</li></a
          >
          <a href="/components/grid/grid.html"
            ><li class="component">grid</li></a
          >
        </ul>
      </aside>

      <!-- Main  -->
      <main>
        <!-- Card component  -->

        <section class="comp_wrapper">
          <h1 class="comp_head-text">Card</h1>
          <p class="comp_desc_text p-lg">
            The Card component has three variants, 1.
            <i>basic Card or vertical card</i>, 2.
            <i>shopping card or horizontal card</i> and 3. <i>pricing card</i>
          </p>
          <h2 class="comp_head-text h3">basic Cards (vertical card)</h2>

          <p class="comp_desc_text p-lg">
            The basic Card component has 4 catagories, 1.
            <i>Cards with badges</i>, 2. <i>Cards with dismiss</i> and 3.
            <i>Cards with text overlay</i> and 4.<i> text only cards </i>
          </p>

          <!--  Cards with badges (cwb)- -->

          <div class="wrapper_comp_box wrapper_card flex">
            <div title="Cards with badges" class="card">
              <div class="img"></div>
              <div class="card-content">
                <div class="title">Title</div>
                <div class="sub-title">sub-title</div>
                <div class="content">
                  Ex ad et excepteur ad qui adipisicing velit excepteur ea.
                  Eiusmod sint proident magna excepteur quis officia ullamco.
                  Cillum exercitation commodo esse aliquip nostrud esse ex
                  tempor ex.
                </div>
                <div class="footer flex footer_cwb">
                  <div class="icons flex-center">
                    <div style="display: none">
                      <svg>
                        <use xlink:href="#heart" />
                      </svg>
                      <svg>
                        <use xlink:href="#share" />
                      </svg>
                      <svg>
                        <use xlink:href="#dot" />
                      </svg>
                    </div>

                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      id="heart"
                      height="24px"
                      viewBox="0 0 24 24"
                      width="24px"
                      fill="#666666"
                    >
                      <path d="M0 0h24v24H0V0z" fill="none" />
                      <path
                        d="M16.5 3c-1.74 0-3.41.81-4.5 2.09C10.91 3.81 9.24 3 7.5 3 4.42 3 2 5.42 2 8.5c0 3.78 3.4 6.86 8.55 11.54L12 21.35l1.45-1.32C18.6 15.36 22 12.28 22 8.5 22 5.42 19.58 3 16.5 3zm-4.4 15.55l-.1.1-.1-.1C7.14 14.24 4 11.39 4 8.5 4 6.5 5.5 5 7.5 5c1.54 0 3.04.99 3.57 2.36h1.87C13.46 5.99 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5 0 2.89-3.14 5.74-7.9 10.05z"
                      />
                    </svg>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      id="share"
                      height="24px"
                      viewBox="0 0 24 24"
                      width="24px"
                      fill="#666666"
                    >
                      <path d="M0 0h24v24H0V0z" fill="none" />
                      <path
                        d="M18 16.08c-.76 0-1.44.3-1.96.77L8.91 12.7c.05-.23.09-.46.09-.7s-.04-.47-.09-.7l7.05-4.11c.54.5 1.25.81 2.04.81 1.66 0 3-1.34 3-3s-1.34-3-3-3-3 1.34-3 3c0 .24.04.47.09.7L8.04 9.81C7.5 9.31 6.79 9 6 9c-1.66 0-3 1.34-3 3s1.34 3 3 3c.79 0 1.5-.31 2.04-.81l7.12 4.16c-.05.21-.08.43-.08.65 0 1.61 1.31 2.92 2.92 2.92s2.92-1.31 2.92-2.92c0-1.61-1.31-2.92-2.92-2.92zM18 4c.55 0 1 .45 1 1s-.45 1-1 1-1-.45-1-1 .45-1 1-1zM6 13c-.55 0-1-.45-1-1s.45-1 1-1 1 .45 1 1-.45 1-1 1zm12 7.02c-.55 0-1-.45-1-1s.45-1 1-1 1 .45 1 1-.45 1-1 1z"
                      />
                    </svg>
                    <svg
                      class=""
                      xmlns="http://www.w3.org/2000/svg"
                      id="dot"
                      height="24px"
                      viewBox="0 0 24 24"
                      width="24px"
                      fill="#666666"
                    >
                      <path d="M0 0h24v24H0V0z" fill="none" />
                      <path
                        d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"
                      />
                    </svg>
                  </div>
                </div>
              </div>
            </div>

            <!-- Cards with dismiss (cwd) -->

            <div title="Cards with dismiss" class="card">
              <div class="img"></div>
              <div class="card-content">
                <div class="title">Title</div>
                <div class="sub-title">sub-title</div>
                <div class="content">
                  Ex ad et excepteur ad qui adipisicing velit excepteur ea.
                  Eiusmod sint proident magna excepteur quis officia ullamco.
                  Cillum exercitation commodo esse aliquip nostrud esse ex
                  tempor ex.
                </div>
                <div class="footer btn_wrapper_cwd flex">
                  <div class="btn_wrapper flex-center">
                    <button class="btn btn-cta">action 1</button>
                    <button class="btn out-danger btn-dismiss">dismiss</button>
                  </div>
                </div>
              </div>
            </div>

            <!-- Cards with text overlay (cwt)  -->

            <div id="basic-text-media">
              <div class="wrapper">
                <div title="cards with text overlay" class="card">
                  <div class="img flex img-cwt">
                    <div class="title">Our Changing Planet</div>
                    <div class="sub-title">by Kurt Wagner</div>
                  </div>
                  <div class="card-content">
                    <div class="content">
                      Tempor ea ad dolor esse eiusmod proident incididunt
                      commodo.
                    </div>
                    <div class="footer flex-center">
                      <div class="flex-center btn_wrapper">
                        <button class="btn out-cta">Bookmark</button>
                        <button class="btn btn-cta">Read</button>
                      </div>
                      <div class="icons flex-center">
                        <div style="display: none">
                          <svg>
                            <use xlink:href="#heart" />
                          </svg>
                          <svg>
                            <use xlink:href="#share" />
                          </svg>
                          <svg>
                            <use xlink:href="#dot" />
                          </svg>
                        </div>

                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          id="heart"
                          height="24px"
                          viewBox="0 0 24 24"
                          width="24px"
                          fill="#666666"
                        >
                          <path d="M0 0h24v24H0V0z" fill="none" />
                          <path
                            d="M16.5 3c-1.74 0-3.41.81-4.5 2.09C10.91 3.81 9.24 3 7.5 3 4.42 3 2 5.42 2 8.5c0 3.78 3.4 6.86 8.55 11.54L12 21.35l1.45-1.32C18.6 15.36 22 12.28 22 8.5 22 5.42 19.58 3 16.5 3zm-4.4 15.55l-.1.1-.1-.1C7.14 14.24 4 11.39 4 8.5 4 6.5 5.5 5 7.5 5c1.54 0 3.04.99 3.57 2.36h1.87C13.46 5.99 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5 0 2.89-3.14 5.74-7.9 10.05z"
                          />
                        </svg>
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          id="share"
                          height="24px"
                          viewBox="0 0 24 24"
                          width="24px"
                          fill="#666666"
                        >
                          <path d="M0 0h24v24H0V0z" fill="none" />
                          <path
                            d="M18 16.08c-.76 0-1.44.3-1.96.77L8.91 12.7c.05-.23.09-.46.09-.7s-.04-.47-.09-.7l7.05-4.11c.54.5 1.25.81 2.04.81 1.66 0 3-1.34 3-3s-1.34-3-3-3-3 1.34-3 3c0 .24.04.47.09.7L8.04 9.81C7.5 9.31 6.79 9 6 9c-1.66 0-3 1.34-3 3s1.34 3 3 3c.79 0 1.5-.31 2.04-.81l7.12 4.16c-.05.21-.08.43-.08.65 0 1.61 1.31 2.92 2.92 2.92s2.92-1.31 2.92-2.92c0-1.61-1.31-2.92-2.92-2.92zM18 4c.55 0 1 .45 1 1s-.45 1-1 1-1-.45-1-1 .45-1 1-1zM6 13c-.55 0-1-.45-1-1s.45-1 1-1 1 .45 1 1-.45 1-1 1zm12 7.02c-.55 0-1-.45-1-1s.45-1 1-1 1 .45 1 1-.45 1-1 1z"
                          />
                        </svg>
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          id="dot"
                          height="24px"
                          viewBox="0 0 24 24"
                          width="24px"
                          fill="#666666"
                        >
                          <path d="M0 0h24v24H0V0z" fill="none" />
                          <path
                            d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"
                          />
                        </svg>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!--text only cards  -->

            <div id="basic-text-media">
              <div class="wrapper">
                <div title="Text only cards" class="card">
                  <div class="card-content">
                    <div class="title">Our Changing Planet</div>
                    <div class="sub-title">by Kurt Wagner</div>
                    <div class="content">
                      Do velit dolor labore irure fugiat laboris pariatur nulla.
                      Ut irure laboris commodo voluptate duis tempor eu ad
                      incididunt irure consectetur non veniam adipisicing.
                    </div>
                    <div class="footer flex-center">
                      <div class="flex-center btn_wrapper">
                        <button class="btn out-cta">Bookmark</button>
                        <button class="btn btn-cta">Read</button>
                      </div>
                      <div class="icons flex-center">
                        <div style="display: none">
                          <svg>
                            <use xlink:href="#heart" />
                          </svg>
                          <svg>
                            <use xlink:href="#share" />
                          </svg>
                          <svg>
                            <use xlink:href="#dot" />
                          </svg>
                        </div>

                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          id="heart"
                          height="24px"
                          viewBox="0 0 24 24"
                          width="24px"
                          fill="#666666"
                        >
                          <path d="M0 0h24v24H0V0z" fill="none" />
                          <path
                            d="M16.5 3c-1.74 0-3.41.81-4.5 2.09C10.91 3.81 9.24 3 7.5 3 4.42 3 2 5.42 2 8.5c0 3.78 3.4 6.86 8.55 11.54L12 21.35l1.45-1.32C18.6 15.36 22 12.28 22 8.5 22 5.42 19.58 3 16.5 3zm-4.4 15.55l-.1.1-.1-.1C7.14 14.24 4 11.39 4 8.5 4 6.5 5.5 5 7.5 5c1.54 0 3.04.99 3.57 2.36h1.87C13.46 5.99 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5 0 2.89-3.14 5.74-7.9 10.05z"
                          />
                        </svg>
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          id="share"
                          height="24px"
                          viewBox="0 0 24 24"
                          width="24px"
                          fill="#666666"
                        >
                          <path d="M0 0h24v24H0V0z" fill="none" />
                          <path
                            d="M18 16.08c-.76 0-1.44.3-1.96.77L8.91 12.7c.05-.23.09-.46.09-.7s-.04-.47-.09-.7l7.05-4.11c.54.5 1.25.81 2.04.81 1.66 0 3-1.34 3-3s-1.34-3-3-3-3 1.34-3 3c0 .24.04.47.09.7L8.04 9.81C7.5 9.31 6.79 9 6 9c-1.66 0-3 1.34-3 3s1.34 3 3 3c.79 0 1.5-.31 2.04-.81l7.12 4.16c-.05.21-.08.43-.08.65 0 1.61 1.31 2.92 2.92 2.92s2.92-1.31 2.92-2.92c0-1.61-1.31-2.92-2.92-2.92zM18 4c.55 0 1 .45 1 1s-.45 1-1 1-1-.45-1-1 .45-1 1-1zM6 13c-.55 0-1-.45-1-1s.45-1 1-1 1 .45 1 1-.45 1-1 1zm12 7.02c-.55 0-1-.45-1-1s.45-1 1-1 1 .45 1 1-.45 1-1 1z"
                          />
                        </svg>
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          id="dot"
                          height="24px"
                          viewBox="0 0 24 24"
                          width="24px"
                          fill="#666666"
                        >
                          <path d="M0 0h24v24H0V0z" fill="none" />
                          <path
                            d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"
                          />
                        </svg>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="comp_snippet">
            <script type="text/plain" class="line-numbers language-markup">

              <!-- Card - Basic -->

              <div class="card">
                <div class="img"></div>
                <div class="card-content">
                  <div class="title">Our Changing Planet</div>
                  <div class="sub-title">by Kurt Wagner</div>
                  <div class="content">
                    Visit ten places on our planet that are undergoing the biggest
                    changes today.
                  </div>
                  <div class="footer flex-center">
                    <div class="btn_wrapper flex-center">
                      <button class="btn btn-cta">Read</button>
                      <button class="btn out-cta">Bookmark</button>
                    </div>
                    <div class="icons flex-center">
                        ....
                    </div>
                  </div>
                </div>
              </div>
              </div>
            </script>
          </div>

          <!-- shopping card  -->
          <h2 class="comp_head-text h3">shopping Cards (horizontal cards)</h2>
          <p class="comp_desc_text p-lg">
            Card are used to show user related data collectively, like product
            details.
          </p>

          <div class="wrapper_comp_box flex">
            <div class="card_hr flex">
              <div class="card_hr_img">
                <img src="/assets/xbox.png" alt="xbox" />
              </div>
              <div class="card_hr_content">
                <h2>Xbox One Series S</h2>
                <p class="p-lg"><strong>Platform</strong> : Xbox One</p>
                <p class="card_hr_desc">
                  Go all-digital and enjoy disc-free, next-gen gaming with the
                  smallest Xbox console ever made Xbox game Pass ultimate
                  includes over 100 high-quality games.
                </p>
                <div class="card_hr_price text_cl">
                  <div class="p-lg">
                    m.r.p.: <span class="text_line_th">$400</span>
                  </div>
                  <div class="p-lg">
                    deal of the day:<span class="h2 dod_price"> $200</span>
                  </div>
                </div>
              </div>
              <div class="flex btn_wrapper btn_wrapper_hr">
                <button class="btn out-cta">add to cart</button>
                <button class="btn btn-cta">buy now</button>
              </div>
            </div>
          </div>

          <div class="comp_snippet">
            <script type="text/plain" class="line-numbers language-markup">

              <!-- Card - horizontal -->

              <div class="card_hr flex">
                <div class="card_hr_img">
                  <img src="..." alt="..." />
                </div>
                <div class="card_hr_content">
                  <h2>Xbox One Series S</h2>
                  <p class="p-lg"><strong>Platform</strong> : Xbox One</p>
                  <p class="card_hr_desc">
                    Go all-digital and enjoy disc-free, next-gen gaming with the
                    smallest Xbox console ever made Xbox game Pass ultimate
                    includes over 100 high-quality games.
                  </p>
                  <div class="card_hr_price text_cl">
                    <div class="p-lg">
                      m.r.p.: <span class="text_line_th">$400</span>
                    </div>
                    <div class="p-lg">
                      deal of the day:<span class="h2 dod_price"> $200</span>
                    </div>
                  </div>
                </div>
                <div class="flex btn_wrapper btn_wrapper_hr">
                  <button class="btn out-cta">add to cart</button>
                  <button class="btn btn-cta">buy now</button>
                </div>
              </div>
            </script>
          </div>
          <!-- Card component - pricing card -->

          <h2 class="comp_head-text h3">pricing Cards</h2>
          <p class="comp_desc_text p-lg">
            Pricing card is used in subscription plans
          </p>

          <!-- card pricing starter -->

          <div class="wrapper_comp_box wrapper_pricing_card flex">
            <div class="card_pricing card_starter">
              <div class="plan">
                <span class="price h1">$20</span
                ><span class="duration h3">/month</span>
              </div>
              <div class="pack h1">starter</div>
              <hr class="line" />
              <ul class="feature p-lg">
                <li>all limited links</li>
                <li>own analytic platform</li>
                <li>chat support</li>
                <li>optimize hashtag</li>
                <li>optimize hashtags</li>
                <li>unlimited users</li>
              </ul>
            </div>

            <!-- card pricing pro -->

            <div class="card_pricing card_pro">
              <div class="plan">
                <span class="price h1">$100</span
                ><span class="duration h3">/month</span>
              </div>
              <div class="pack h1">pro</div>
              <hr class="line" />
              <ul class="feature p-lg">
                <li>all limited links</li>
                <li>own analytic platform</li>
                <li>chat support</li>
                <li>optimize hashtag</li>
                <li>optimize hashtags</li>
                <li>unlimited users</li>
              </ul>
            </div>
            <!-- card pricing enterprise -->

            <div class="card_pricing card_enterprise">
              <div class="plan">
                <span class="price h1">$200</span
                ><span class="duration h3">/month</span>
              </div>
              <div class="pack h1">enterprise</div>
              <hr class="line" />
              <ul class="feature p-lg">
                <li>all limited links</li>
                <li>own analytic platform</li>
                <li>chat support</li>
                <li>optimize hashtag</li>
                <li>optimize hashtags</li>
                <li>unlimited users</li>
              </ul>
            </div>
          </div>

          <div class="comp_snippet">
            <script type="text/plain" class="line-numbers language-markup">

              <!-- Card - pricing -->

              <div class="card_pricing card_starter">
                <div class="plan">
                  <span class="price h1">$20</span
                  ><span class="duration h3">/month</span>
                </div>
                <div class="pack h1">starter</div>
                <hr class="line" />
                <ul class="feature p-lg">
                  <li>all limited links</li>
                  <li>own analytic platform</li>
                  <li>chat support</li>
                  <li>optimize hashtag</li>
                  <li>optimize hashtags</li>
                  <li>unlimited users</li>
                </ul>
              </div>
            </script>
          </div>
        </section>
      </main>
    </div>
    <script src="../../utils/prism/prism.js"></script>
    <script src="../../app.js"></script>
  </body>
</html>
