<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="icon" href="/assets/pixel.png" />
    <link rel="stylesheet" href="../../styles.css" />
    <link rel="stylesheet" href="../../core.css" />
    <link rel="stylesheet" href="../../utils/prism/prism.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pixel / Input</title>
  </head>
  <body>
    <!-- Documentation wrapper  -->
    <div class="container dark_theme">
      <!-- Navbar  -->

      <!-- Navbar  -->
      <nav id="navbar" class="wrapper_nav flex">
        <h1>
          <a href="/index.html">
            <span title="pixel-ui" class="h2 nav_brand_text"> PIXEL</span></a
          >
        </h1>

        <div class="wrapper_nav_menu">
          <ul class="nav_menu flex">
            <li class="p">
              <a
                href="https://twitter.com/gauravsinhaweb"
                rel="noopener noreferrer"
                target="_blank"
              >
                <div>
                  <i class="fab fa-twitter nav_icon twitter"></i>
                </div>
              </a>
            </li>
            <li class="p">
              <a
                href="https://github.com/gauravsinhaweb/Pixel-UI"
                rel="noopener noreferrer"
                target="_blank"
              >
                <div>
                  <i class="fab fa-github nav_icon github"></i>
                </div>
              </a>
            </li>
            <li id="theme" class="p">
              <div>
                <i class="fa fa-moon nav_icon theme"></i>
              </div>
            </li>
            <li id="hamburger" class="p">
              <div>
                <i class="fas fa-bars nav_icon hamburger"></i>
              </div>
            </li>
          </ul>
        </div>
      </nav>

      <!-- Sidebar  -->
      <aside id="aside">
        <ul class="wrapper_aside flex">
          <li class="aside_head">getting started</li>
          <li class="component">installation</li>
          <a href="/utils/typography/typography.html"
            ><li class="component">Text utilities</li></a
          >

          <li class="h5 aside_head">components</li>
          <a href="/components/alert/alert.html"
            ><li class="component">Alert</li></a
          >
          <a href="/components/avatar/avatar.html"
            ><li class="component">Avatar</li></a
          >
          <a href="/components/badge/badge.html"
            ><li class="component">badge</li></a
          >
          <a href="/components/button/button.html"
            ><li class="component">button</li></a
          >
          <a href="/components/card/card.html"
            ><li class="component">card</li></a
          >
          <a href="/components/image/image.html"
            ><li class="component">image</li></a
          >
          <a href="/components/input/input.html"
            ><li class="component comp_active">input</li></a
          >
          <a href="/components/list/list.html"
            ><li class="component">List</li></a
          >
          <a href="/components/modal/modal.html"
            ><li class="component">Modal</li></a
          >
          <a href="/components/navigation/navigation.html"
            ><li class="component">Navigation</li></a
          >
          <a href="/components/rating/rating.html"
            ><li class="component">Rating</li></a
          >
          <a href="/components/snackbar/snackbar.html"
            ><li class="component">Snackbar</li></a
          >
          <a href="/components/grid/grid.html"
            ><li class="component">grid</li></a
          >
          <a href="/components/slider/slider.html"
            ><li class="component">Slider</li></a
          >
        </ul>
      </aside>

      <!-- Main  -->
      <!-- Alert component  -->
      <main>
        <!-- Input -->

        <section class="comp_wrapper">
          <h1 class="comp_head-text">input</h1>
          <p class="comp_desc-text p-lg">
            The input component has two variants
            <i>input sizes</i> and <i>input type</i>
          </p>

          <h2 class="comp_head-text h3">input sizes</h2>
          <p>
            <span class="comp_desc_highlight"> inp_lg</span>,
            <span class="comp_desc_highlight"> inp_md</span>,
            <span class="comp_desc_highlight"> inp_sm</span>
          </p>
          <div class="wrapper_comp_box flex-center">
            <div class="wrapper_input flex">
              <p class="p inp_p">input large:</p>
              <input class="basic_inp inp_lg" type="text" />
              <p class="p inp_p">input medium:</p>

              <input class="basic_inp inp_md" type="text" />
              <p class="p inp_p">input small:</p>

              <input class="basic_inp inp_sm" type="text" />
            </div>
          </div>

          <!-- code snippet  -->
          <div class="comp_snippet">
            <script type="text/plain" class="line-numbers language-markup">

              <!-- Image round(rd) and square(sq)  -->

              <input class="basic_inp inp_lg" type="text" />
              <input class="basic_inp inp_md" type="text" />
              <input class="basic_inp inp_sm" type="text" />
            </script>
          </div>
          <!-- input type  -->
          <h2 class="comp_head-text h3">input type</h2>
          <p class="comp_desc-text p-lg">
            The input component has one type i.e.
            <i>Input error</i> <span class="comp_desc_highlight">inp_err</span>
          </p>
          <div class="wrapper_comp_box flex-center">
            <div class="wrapper_input flex">
              <p class="p inp_p">input error (inp_err):</p>
              <input class="inp_lg inp_err" type="text" />
            </div>
          </div>

          <!-- code snippet  -->
          <div class="comp_snippet">
            <script type="text/plain" class="line-numbers language-markup">

              <!-- Input error  -->

              <input class="inp_lg inp_err" type="text" />
            </script>
          </div>
        </section>
      </main>
    </div>
    <script src="../../utils/prism/prism.js"></script>
    <script src="/app.js"></script>
  </body>
</html>
