.btn {
  border-radius: 5px;
  color: var(--white);
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  transition: all ease 0.5s;
  text-transform: capitalize;
  box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f;
  transition: all 400ms cubic-bezier(0.25, 0.8, 0.25, 1),
    box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.btn:active {
  box-shadow: 0 5px 5px -3px #0003, 0 8px 10px 1px #00000024,
    0 3px 14px 2px #0000001f;
}
.btn:disabled,
.btn[disabled] {
  border: 1px solid var(--bg-dark-text);
  background-color: var(--bg-dark-text);
  color: var(--black);
  cursor: no-drop;
}
.btn:hover {
  opacity: 1;
}
.btn-primary {
  background-color: var(--primary);
  color: var(--white);
  border: 1px solid var(--primary);
  opacity: 0.9;
}
.btn-cta {
  background-color: var(--cta);
  color: var(--white);
  border: 1px solid var(--cta);
  opacity: 0.9;
}

.btn-danger {
  background-color: var(--danger);
  color: var(--white);
  border: 1px solid var(--danger);
  opacity: 0.9;
}
.btn-warning {
  background-color: var(--warning);
  color: var(--white);
  border: 1px solid var(--warning);
  opacity: 0.9;
}
.btn-success {
  background-color: var(--success);
  color: var(--white);
  border: 1px solid var(--success);
  opacity: 0.9;
}
.btn-info {
  background-color: var(--info);
  color: var(--white);
  border: 1px solid var(--info);
  opacity: 0.9;
}
.btn-link {
  color: var(--primary);
  border: none;
  background-color: transparent;
  font-size: 2rem;
  padding: 1rem 1.5rem;
  cursor: pointer;
  text-decoration: underline;
  opacity: 0.8;
}
.btn-link:hover {
  opacity: 1;
}
.out-primary {
  background-color: var(--white);
  border: 1px solid var(--primary);
  color: var(--primary);
  opacity: 0.7;
}
.out-cta {
  background-color: var(--white);
  border: 1px solid var(--cta);
  color: var(--cta);
  opacity: 0.7;
}
.out-danger {
  background-color: var(--white);
  border: 1px solid var(--danger);
  color: var(--danger);
  opacity: 0.7;
}
.out-success {
  background-color: var(--white);
  border: 1px solid var(--success);
  color: var(--success);
  opacity: 0.7;
}
.out-info {
  background-color: var(--white);
  border: 1px solid var(--info);
  color: var(--info);
  opacity: 0.85;
}
.btn-dismiss {
  box-shadow: none;
}
.btn-dismiss:active {
  box-shadow: 0 5px 5px -3px #0003 inset, 0 8px 10px 1px #00000024 inset,
    0 3px 14px 2px #0000001f inset;
}

.fa-btn {
  border-radius: 50%;
  aspect-ratio: 1;
  width: fit-content;
  background-color: var(--primary);
  color: var(--white);
  border: none;
}
.btn-icon {
  font-size: 1rem;
  padding: 0 1rem;

  width: fit-content;
}
