<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="icon" href="/assets/pixel.png" />
    <link rel="stylesheet" href="../../styles.css" />
    <link rel="stylesheet" href="../../core.css" />
    <link rel="stylesheet" href="../../utils/prism/prism.css" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pixel / Button</title>
  </head>
  <body>
    <!-- Documentation wrapper  -->
    <div class="container dark_theme">
      <!-- Navbar  -->
      <nav id="navbar" class="wrapper_nav flex">
        <h1>
          <a href="/index.html">
            <span title="pixel-ui" class="h2 nav_brand_text"> PIXEL</span></a
          >
        </h1>

        <div class="wrapper_nav_menu">
          <ul class="nav_menu flex">
            <li class="p">
              <a
                href="https://twitter.com/gauravsinhaweb"
                rel="noopener noreferrer"
                target="_blank"
              >
                <div>
                  <i class="fab fa-twitter nav_icon twitter"></i>
                </div>
              </a>
            </li>
            <li class="p">
              <a
                href="https://github.com/gauravsinhaweb/Pixel-UI"
                rel="noopener noreferrer"
                target="_blank"
              >
                <div>
                  <i class="fab fa-github nav_icon github"></i>
                </div>
              </a>
            </li>
            <li id="theme" class="p">
              <div>
                <i class="fa fa-moon nav_icon theme"></i>
              </div>
            </li>
            <li id="hamburger" class="p">
              <div>
                <i class="fas fa-bars nav_icon hamburger"></i>
              </div>
            </li>
          </ul>
        </div>
      </nav>

      <!-- Sidebar  -->
      <aside id="aside">
        <ul class="wrapper_aside flex">
          <li class="aside_head">getting started</li>
          <li class="component">installation</li>
          <a href="/utils/typography/typography.html"
            ><li class="component">Text utilities</li></a
          >

          <li class="h5 aside_head">components</li>
          <a href="/components/alert/alert.html"
            ><li class="component">Alert</li></a
          >
          <a href="/components/avatar/avatar.html"
            ><li class="component">Avatar</li></a
          >
          <a href="/components/badge/badge.html"
            ><li class="component">badge</li></a
          >
          <a href="/components/button/button.html"
            ><li class="component comp_active">button</li></a
          >
          <a href="/components/card/card.html"
            ><li class="component">card</li></a
          >
          <a href="/components/image/image.html"
            ><li class="component">image</li></a
          >
          <a href="/components/input/input.html"
            ><li class="component">input</li></a
          >
          <a href="/components/list/list.html"
            ><li class="component">List</li></a
          >
          <a href="/components/modal/modal.html"
            ><li class="component">Modal</li></a
          >
          <a href="/components/navigation/navigation.html"
            ><li class="component">Navigation</li></a
          >
          <a href="/components/rating/rating.html"
            ><li class="component">Rating</li></a
          >
          <a href="/components/snackbar/snackbar.html"
            ><li class="component">Snackbar</li></a
          >
          <a href="/components/grid/grid.html"
            ><li class="component">grid</li></a
          >
          <a href="/components/slider/slider.html"
            ><li class="component">Slider</li></a
          >
        </ul>
      </aside>

      <!-- Main  -->
      <main>
        <!-- Button component  -->

        <section class="comp_wrapper">
          <h1 class="comp_head-text">Button</h1>
          <p class="comp_desc_text p-lg">
            The Button component i.e.
            <span class="comp_desc_highlight">btn</span>, comes in two
            catagories, <i>solid buttons </i>and
            <i> outlined buttons.</i>
          </p>
          <h2 class="comp_head-text h3">solid Buttons</h2>
          <p class="comp_desc_text p-lg">
            The Solid button is contained with filled colors inside, has five
            variants

            <span class="comp_desc_highlight">btn-primary</span>,
            <span class="comp_desc_highlight">btn-cta</span>,
            <span class="comp_desc_highlight">btn-danger</span>,
            <span class="comp_desc_highlight">btn-link</span>,
            <span class="comp_desc_highlight">btn disabled</span>
          </p>
          <div class="wrapper_comp_box p-lg">
            <div class="wrapper_av flex">
              <button class="btn btn-primary">primary</button>
              <button class="btn btn-cta">button</button>
              <button class="btn btn-danger">danger</button>
              <button class="btn-link">Link to</button>
              <button disabled="true" class="btn">disabled</button>
            </div>
          </div>
          <div class="comp_snippet">
            <script type="text/plain" class="line-numbers language-markup">

              <!-- Button Contained-->

              <button class="btn btn-primary">primary</button>
              <button class="btn btn-cta">button</button>
              <button class="btn btn-danger">danger</button>
              <button class="btn-link">Link to</button>
            </script>
          </div>
          <h2 class="comp_head-text h3">Outlined Buttons</h2>
          <p class="comp_desc_text p-lg">
            The Solid button is Outlined, and has five variants

            <span class="comp_desc_highlight">out-primary</span>,
            <span class="comp_desc_highlight">out-cta</span>,
            <span class="comp_desc_highlight">out-danger</span>,
            <span class="comp_desc_highlight">out-success</span>,
            <span class="comp_desc_highlight">out-info</span>
          </p>
          <div class="wrapper_comp_box p-lg">
            <div class="wrapper_av flex">
              <button class="btn out-primary">primary</button>
              <button class="btn out-cta">button</button>
              <button class="btn out-danger">danger</button>
              <button class="btn out-success">success</button>
              <button class="btn out-info btn-dismiss">Dismiss</button>
            </div>
          </div>

          <div class="comp_snippet">
            <script type="text/plain" class="line-numbers language-markup">

              <!-- Button Outlined -->

              <button class="btn out-primary">primary</button>
              <button class="btn out-cta">button</button>
              <button class="btn out-danger">danger</button>
              <button class="btn out-success">success</button>
            </script>
          </div>
          <!-- floating action, icon button  -->

          <h2 class="comp_head-text h3">icon and floating action Button</h2>
          <p class="comp_desc_text p-lg">
            The floating action button
            <span class="comp_desc_highlight">fa-btn</span>
            and button with an icon
            <span class="comp_desc_highlight">btn-icon</span>,
          </p>
          <div class="wrapper_comp_box p-lg">
            <div class="wrapper_av flex">
              <button class="btn fa-btn">
                <i class="fa fa-arrow-up" aria-hidden="true"></i>
              </button>

              <button class="btn btn-cta">
                Login
                <i class="fa btn-icon fa-arrow-right" aria-hidden="true"></i>
              </button>
            </div>
          </div>

          <div class="comp_snippet">
            <script type="text/plain" class="line-numbers language-markup">

              <!-- icon and floating action button-->

              <button class="btn fa-btn">
                <i class="fa fa-arrow-up" aria-hidden="true"></i>
              </button>

              <button class="btn btn-cta">
                Sign Up
                <i class="fa btn-icon fa-arrow-right" aria-hidden="true"></i>
              </button>
            </script>
          </div>
        </section>
      </main>
    </div>
    <script src="../../utils/prism/prism.js"></script>
    <script src="../../app.js"></script>
  </body>
</html>
