.online {
  background-color: #5bc236;
}
.offline {
  background-color: #ff0000;
}
.idle {
  background-color: #868686;
}
.av_badge_lg,
.av_badge_md,
.av_badge_sm {
  position: absolute;
  bottom: 0;
  right: 0;
  aspect-ratio: 1;
}
.av_badge_lg {
  height: 2.5rem;
  width: 2.5rem;
  border: 6px solid var(--white);
}
.av_badge_md {
  height: 1.3rem;
  width: 1.3rem;
  border: 4px solid var(--white);
}
.bell_badge {
  height: 2rem;
  width: 2rem;
  background-color: var(--danger);
  color: var(--white);
  border-radius: 50%;
  top: 0;
  right: 1rem;
}

.bell {
  height: 5rem;
  aspect-ratio: 1;
}
