.online {
  background-color: #5bc236;
}
.offline {
  background-color: #ff0000;
}
.idle {
  background-color: #868686;
}
.av_badge_lg,
.av_badge_md,
.av_badge_sm {
  position: absolute;
  bottom: 0;
  right: 0;
  aspect-ratio: 1;
}
.av_badge_lg {
  height: 2.5rem;
  width: 2.5rem;
  border: 6px solid var(--white);
}
.av_badge_md {
  height: 1.3rem;
  width: 1.3rem;
  border: 4px solid var(--white);
}
.wrapper_badge {
  position: relative;
}
.badge {
  position: absolute;
  top: -1rem;
  right: -1rem;
  background-color: var(--danger);
  border-radius: 50%;
  min-width: 2rem;
  width: fit-content;
  display: inline-block;
  aspect-ratio: 1/1;
  font-size: 1.4rem;
}
.badge_text {
  color: var(--white);
}
