<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="icon" href="/assets/pixel.png" />
    <link rel="stylesheet" href="../../styles.css" />
    <link rel="stylesheet" href="../../core.css" />
    <link rel="stylesheet" href="../../utils/prism/prism.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pixel / Modal</title>
  </head>
  <body>
    <!-- Documentation wrapper  -->
    <div class="container dark_theme">
      <!-- Navbar  -->

      <nav id="navbar" class="wrapper_nav flex">
        <h1>
          <a href="./index.html">
            <span title="pixel-ui" class="h2 nav_brand_text"> PIXEL</span></a
          >
        </h1>

        <div class="wrapper_nav_menu">
          <ul class="nav_menu flex">
            <li class="p">
              <a
                href="https://twitter.com/gauravsinhaweb"
                rel="noopener noreferrer"
                target="_blank"
              >
                <div>
                  <i class="fab fa-twitter nav_icon twitter"></i>
                </div>
              </a>
            </li>
            <li class="p">
              <a
                href="https://github.com/gauravsinhaweb/Pixel-UI"
                rel="noopener noreferrer"
                target="_blank"
              >
                <div>
                  <i class="fab fa-github nav_icon github"></i>
                </div>
              </a>
            </li>
            <li class="p">
              <div>
                <i class="fa fa-moon nav_icon theme"></i>
              </div>
            </li>
            <li id="hamburger" class="p">
              <div>
                <i class="fas fa-bars nav_icon hamburger"></i>
              </div>
            </li>
          </ul>
        </div>
      </nav>

      <!-- Sidebar  -->
      <aside id="aside">
        <ul class="wrapper_aside flex">
          <li class="aside_head">getting started</li>
          <li class="component">installation</li>
          <a href="/utils/typography/typography.html"
            ><li class="component">Text utilities</li></a
          >

          <li class="h5 aside_head">components</li>
          <a href="/components/alert/alert.html"
            ><li class="component">Alert</li></a
          >
          <a href="/components/avatar/avatar.html"
            ><li class="component">Avatar</li></a
          >
          <a href="/components/badge/badge.html"
            ><li class="component">badge</li></a
          >
          <a href="/components/button/button.html"
            ><li class="component">button</li></a
          >
          <a href="/components/card/card.html"
            ><li class="component">card</li></a
          >
          <a href="/components/image/image.html"
            ><li class="component">image</li></a
          >
          <a href="/components/input/input.html"
            ><li class="component">input</li></a
          >
          <a href="/components/list/list.html"
            ><li class="component">List</li></a
          >
          <a href="/components/modal/modal.html"
            ><li class="component comp_active">Modal</li></a
          >
          <a href="/components/navigation/navigation.html"
            ><li class="component">Navigation</li></a
          >
          <a href="/components/rating/rating.html"
            ><li class="component">Rating</li></a
          >
          <a href="/components/snackbar/snackbar.html"
            ><li class="component">Snackbar</li></a
          >
          <a href="/components/grid/grid.html"
            ><li class="component">grid</li></a
          >
        </ul>
      </aside>

      <!-- Main  -->
      <main>
        <!-- Modal  -->

        <section class="comp_wrapper">
          <h1 class="comp_head-text">Modal</h1>
          <p class="comp_desc-text p-lg">
            Modals are used to show some important information to the user and
            they are closed only when the user selects some option.
          </p>

          <div class="wrapper_comp_box flex-center">
            <div>
              <button id="open-modal" class="btn btn-primary">
                Open modal
              </button>

              <!-- modal box -->

              <div id="modal" class="modal">
                <div class="card card-content modal_box">
                  <div class="flex modal_title">
                    <div class="title">Modal</div>
                    <button class="btn_modal">
                      <i
                        id="close-modal"
                        class="fa fa-times"
                        aria-hidden="true"
                      ></i>
                    </button>
                  </div>
                  <hr />

                  <div class="content">
                    Ex ad et excepteur ad qui adipisicing velit excepteur ea.
                    Eiusmod .Laboris voluptate ad in nostrud dolore do commodo.
                    Eiusmod aliqua dolore aliqua laboris voluptate excepteur
                  </div>
                  <div class="footer btn_wrapper_cwd flex">
                    <button class="btn btn-cta">action 1</button>
                    <button class="btn out-cta">action 2</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- code snippet  -->
          <div class="comp_snippet">
            <script type="text/plain" class="line-numbers language-markup">

              <!-- Modal  -->

              <div  class="modal">
                <div class="card card-content modal_box">
                  <div class="flex modal_title">
                    <div class="title">Modal</div>
                    <button class="btn_modal">
                      <i
                        class="fa fa-times"
                        aria-hidden="true"
                      ></i>
                    </button>
                  </div>

                  <div class="content">
                    Ex ad et excepteur ad qui adipisicing velit excepteur ea.
                    Eiusmod .Laboris voluptate ad in nostrud dolore do commodo.
                    Eiusmod aliqua dolore aliqua laboris voluptate excepteur
                  </div>
                  <div class="footer btn_wrapper_cwd flex">
                      <button class="btn btn-cta">action 1</button>
                      <button class="btn out-cta">action 2</button>
                  </div>
                </div>
              </div>
            </script>
          </div>
        </section>
      </main>
    </div>
    <script src="/components/modal/modal.js"></script>
    <script src="../../utils/prism/prism.js"></script>
    <script src="/app.js"></script>
  </body>
</html>
