<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="../../styles.css" />
    <link rel="stylesheet" href="../../core.css" />
    <link rel="stylesheet" href="../../utils/prism/prism.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pixel / Input</title>
  </head>
  <body>
    <!-- Documentation wrapper  -->
    <div class="container dark_theme">
      <!-- Navbar  -->
      <nav id="navbar" class="wrapper_nav flex">
        <h1>
          <a href="/index.html">
            <span title="pixel-ui" class="h2 nav_brand_text"> PIXEL</span></a
          >
        </h1>

        <div class="wrapper_nav_menu">
          <ul class="nav_menu flex">
            <li class="p">
              <a
                href="https://twitter.com/gauravsinhaweb"
                rel="noopener noreferrer"
                target="_blank"
              >
                <div>
                  <i class="fab fa-twitter nav_icon twitter"></i>
                </div>
              </a>
            </li>
            <li class="p">
              <a
                href="https://github.com/gauravsinhaweb/Pixel-UI"
                rel="noopener noreferrer"
                target="_blank"
              >
                <div>
                  <i class="fab fa-github nav_icon github"></i>
                </div>
              </a>
            </li>
            <li id="theme" class="p">
              <div>
                <i class="fa fa-moon nav_icon theme"></i>
              </div>
            </li>
            <li id="hamburger" class="p">
              <div>
                <i class="fas fa-bars nav_icon hamburger"></i>
              </div>
            </li>
          </ul>
        </div>
      </nav>
      <!-- Sidebar  -->
      <aside id="aside">
        <ul class="wrapper_aside flex">
          <li class="aside_head">getting started</li>
          <li class="component">installation</li>
          <a href="/utils/typography/typography.html"
            ><li class="component">Text utilities</li></a
          >

          <li class="h5 aside_head">components</li>
          <a href="/components/alert/alert.html"
            ><li class="component">Alert</li></a
          >
          <a href="/components/avatar/avatar.html"
            ><li class="component">Avatar</li></a
          >
          <a href="/components/badge/badge.html"
            ><li class="component">badge</li></a
          >
          <a href="/components/button/button.html"
            ><li class="component">button</li></a
          >
          <a href="/components/card/card.html"
            ><li class="component">card</li></a
          >
          <a href="/components/image/image.html"
            ><li class="component">image</li></a
          >
          <a href="/components/input/input.html"
            ><li class="component">input</li></a
          >
          <a href="/components/list/list.html"
            ><li class="component">List</li></a
          >
          <a href="/components/modal/modal.html"
            ><li class="component">Modal</li></a
          >
          <a href="/components/navigation/navigation.html"
            ><li class="component">Navigation</li></a
          >
          <a href="/components/rating/rating.html"
            ><li class="component">Rating</li></a
          >
          <a href="/components/snackbar/snackbar.html"
            ><li class="component comp_active">Snackbar</li></a
          >
          <a href="/components/grid/grid.html"
            ><li class="component">grid</li></a
          >
          <a href="/components/slider/slider.html"
            ><li class="component">Slider</li></a
          >
        </ul>
      </aside>

      <!-- Main  -->
      <!-- Alert component  -->
      <main>
        <!-- snackbar  -->

        <section class="comp_wrapper">
          <h1 class="comp_head-text">Toast/Notify/Snackbar</h1>
          <p class="p-lg">
            Rating components can be used as read-only badge or in reviews
            section. Can be used in reviews section as form too.
          </p>
          <div class="wrapper_comp_box">
            <div class="btn_wrapper snackbar_btn flex-center">
              <button class="btn btn-primary">baseline</button>
              <button class="btn btn-primary">leading</button>
              <button class="btn btn-primary">stacked</button>
            </div>
          </div>
          <div class="snackbar">
            <div class="snackbar_wrapper sb-baseline">
              <div class="sb-text">Can't send photo. Retry in 5 seconds.</div>
              <div class="flex sb-btn-wrapper">
                <button class="sb-retry">Retry</button>
                <button class="sb-btn cross_baseline">
                  <i
                    id="close-modal"
                    class="fa fa-times"
                    aria-hidden="true"
                  ></i>
                </button>
              </div>
            </div>

            <div class="snackbar_wrapper sb-leading">
              <div class="sb-text">Your photo has been archived.</div>
              <div><button class="sb-retry">undo</button></div>
              <div>
                <button class="sb-btn cross_leading">
                  <i
                    id="close-modal"
                    class="fa fa-times"
                    aria-hidden="true"
                  ></i>
                </button>
              </div>
            </div>

            <div class="snackbar_wrapper sb-stacked">
              <div>
                <div class="sb-text">
                  This item already has the label "travel". You can add a new
                  label.
                </div>
              </div>
              <div class="sb-stacked-btn">
                <div><button class="sb-retry">add a new label</button></div>
                <div>
                  <button class="sb-btn cross_stacked">
                    <i
                      id="close-modal"
                      class="fa fa-times"
                      aria-hidden="true"
                    ></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- code snippet  -->
          <div class="comp_snippet">
            <script
              type="text/plain"
              class="line-numbers language-markup"
              language-code="html"
            >
              <!-- snackbar - leading-->

              <div class="snackbar_wrapper sb-leading">
                <div class="sb-text">Your photo has been archived.</div>
                <div><button class="sb-retry">undo</button></div>
                <div><button class="sb-btn cross_leading">x</button></div>
              </div>
            </script>
          </div>
        </section>
      </main>
    </div>
    <script src="/components/snackbar/snackbar.js"></script>
    <script src="../../utils/prism/prism.js"></script>
    <script src="/app.js"></script>
  </body>
</html>
