.alert {
  border: 1px solid;
  padding: 1.5rem;
  border-radius: 4px;
  margin: 2rem;
  text-transform: capitalize;
}
.alert-primary {
  background-color: var(--primary-li);
  color: var(--primary);
  border-left: 4px solid var(--primary);
}
.alert-secondary {
  background-color: var(--secondary-li);
  color: var(--secondary);
  border-left: 4px solid var(--secondary);
}
.alert-danger {
  background-color: var(--danger-li);
  color: var(--danger);
  border-left: 4px solid var(--danger);
}
.alert-success {
  background-color: var(--success-li);
  color: var(--success);
  border-left: 4px solid var(--success);
}
.alert-warning {
  background-color: var(--warning-li);
  color: var(--warning);
  border-left: 4px solid var(--warning);
}
.alert-info {
  background-color: var(--info-li);
  color: var(--info);
  border-left: 4px solid var(--info);
}
